mat-form-field {
  --mat-primary-color: #4caf50; /* Green */
  --mat-accent-color: #ff5722; /* Orange */
  --mat-warn-color: #f44336;  /* Red */
}

mat-error {
  color: var(--mat-warn-color); /* Custom error color */
}

.Ordersforms {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 16px; /* Spacing between fields */
}
.createbtn{
  background-color: #ffc107; /* Primary button color */
  color: white  !important;}



.Ordersforms mat-form-field {
  width: 100%; /* Ensure fields take the full width of the grid column */
}

.itemforms mat-form-field{

  width: 19%;
}
