mat-form-field {
  --mat-primary-color: #4caf50;
  --mat-accent-color: #ff5722;
  --mat-warn-color: #f44336;
}

mat-error {
  color: var(--mat-warn-color);
}

.Ordersforms {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.createbtn {
  background-color: #ffc107;
  color: white !important;
}

.Ordersforms mat-form-field {
  width: 100%;
}

.itemforms mat-form-field {
  width: 19%;
}
