<mat-toolbar class="navbar">
  <!-- Navbar Links -->
  <div class="navbar-links">
    <a mat-button routerLink="/home/order" routerLinkActive="active-link">الطلبات</a>
    <a mat-button routerLink="/home/client" routerLinkActive="active-link">العملاء</a>
    <a mat-button routerLink="/home/item" routerLinkActive="active-link">المنتجات</a>
    <a mat-button routerLink="/home/report" routerLinkActive="active-link">التقارير</a>
    <button
      mat-icon-button
      routerLink="/home/settings"
      routerLinkActive="active-link"
      class="settings-icon"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <!-- Logout Button -->
  <button mat-raised-button class="logout-button" (click)="confirmLogout()">
    تسجيل الخروج
  </button>
</mat-toolbar>

<!-- Router Outlet to Display Components -->
<div class="content">
  <router-outlet></router-outlet>
</div>
