<nav class="navbar">
  <div class="navbar-links">
    <a class="nav-link" routerLink="/home/order" routerLinkActive="active-link">Orders</a>
    <a class="nav-link" routerLink="/home/client" routerLinkActive="active-link">Clients</a>
    <a class="nav-link" routerLink="/home/item" routerLinkActive="active-link">Products</a>
    <a class="nav-link" routerLink="/home/report" routerLinkActive="active-link">Reports</a>
    <a class="nav-link settings-icon" routerLink="/home/settings" routerLinkActive="active-link">⚙️</a>
  </div>
  <button class="logout-button" (click)="confirmLogout()">Logout</button>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
