<div class="register-container">
  <form (ngSubmit)="registerUser()" class="register-form" #registerForm="ngForm">
    <mat-form-field class="full-width">
      <mat-label>اسم المستخدم</mat-label>
      <input matInput [(ngModel)]="user.userName" name="userName" required />
      <mat-error *ngIf="registerForm.controls['userName']?.invalid && registerForm.controls['userName']?.touched">
        يجب إدخال اسم المستخدم.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>كلمة المرور</mat-label>
      <input matInput [(ngModel)]="user.password" name="password" type="password" required />
      <mat-error *ngIf="registerForm.controls['password']?.invalid && registerForm.controls['password']?.touched">
        يجب إدخال كلمة المرور.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>رقم الهاتف</mat-label>
      <input matInput [(ngModel)]="user.phoneNumber" name="phoneNumber" required />
      <mat-error *ngIf="registerForm.controls['phoneNumber']?.invalid && registerForm.controls['phoneNumber']?.touched">
        يجب إدخال رقم الهاتف.
      </mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">تسجيل</button>
    </div>
  </form>
</div>
